/* Registr */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  height: 99.9vh;
  position: relative;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-image: url("./img/libraries.jpg");
  background-color: #e6dfdf08;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

#registrForm {
  position: relative;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap {
  width: 100%;
}
#registrForm img {
  object-fit: cover;
  text-align: center;
  width: 226px;
  margin-bottom: 20px;
}
#registrForm input {
  width: 100%;
  padding: 13px 25px 13px 50px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.145);
  border-radius: 5px;
}
#registrForm input::placeholder {
  text-transform: uppercase;
  color: #fff;
}
.wrap {
  position: relative;
  margin-bottom: 20px;
}
.wrap:last-child{
  margin-bottom: 0;
}
.wrap label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #fff;
}
.wrap label ion-icon {
  font-size: 18px;
}
.registrBtnWrap {
  position: relative;
  width: 100%;
  cursor: pointer;
}
#registrBtn {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.145);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0d75ff;
  margin-top: 23px;
}

.registrBtnWrap p {
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 11px;
}
a{
  text-decoration: none;
  color: #0d75ff;
}
#errorMessage{
  color: #f00;
}
.toast{
  width: 420px;
  height: 60px;
  background-color: #0bf4e8;
  color: rgb(219, 39, 39);
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 22px;
  padding: 15px;
  text-shadow: 1px 1px rgb(223, 136, 136);
  border-radius: 5px;
  z-index: 2;
  box-shadow: 5px 5px 5px #52cce4;
  letter-spacing: 2px;
  transform: translateX(150%);
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.toast.active{
  transform: translateX(0);
  opacity: 1;
}